<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Yann"/>

    <title>{% block title %}42Consulting{% endblock %}</title>
    {#{% block stylesheets %}{% endblock %}#}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>#}
     <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-96x96.png') }}"
          sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-32x32.png') }}"
          sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon/favicon-16x16.png') }}"
          sizes="16x16">

    {#<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">#}
    {% block stylesheets %}
        {% stylesheets
        'bundles/ad/bower_components/bootstrap/dist/css/bootstrap.min.css'
        'bundles/ad/bower_components/font-awesome/css/font-awesome.min.css'
        'bundles/ad/dist/css/sb-admin-2.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body class="page-body">
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
    'https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'
    'bundles/fosjsrouting/js/router.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

</body>
</html>
    