{% extends "ADBundle::main.html.twig" %}

  {% block stylesheets %}
      {{ parent() }}
      {% stylesheets
      'bundles/ad/themes/global/plugins/bootstrap-select/css/bootstrap-select.min.css'
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}"/>
      {% endstylesheets %}
  {% endblock %}
{% block title %}
    Ajout utilisateur - {{ parent() }}
{% endblock %}

{% block ad_body %}
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard') }}"><i class="fa fa-home fa-fw"></i></a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Ajout utilisateur</span>
                <i class="fa fa-circle"></i>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->

    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title"> Ajout d'un utilisateur</h3>
    <!-- END PAGE TITLE-->

    <!-- END PAGE HEADER-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-red-sunglo bold uppercase"> <i class="icon-plus font-red-sunglo"></i> Formualire</span>
                <span class="caption-helper">...</span>
            </div>

           <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="Réduire" title="Réduire"> </a>
                <a href="javascript:;" class="reload" data-original-title="Recharger" title="Recharger"> </a>
                <a href="" class="fullscreen" data-original-title="Plein écran" title="Plein écran"> </a>
                <a href="javascript:;" class="remove" data-original-title="Fermer" title="Fermer"> </a>
            </div>

        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->


            <div class="row">
                <div class="col-sm-12">

                    <div class="alert alert-warning hide" id="field-message-error" role="alert">
                        {#<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <span class="message-error"></span>
                    </div>

                    {% if result is defined %}
                        {% if result == "success" %}
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true"></button>

                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                L'utulisateur a été ajouté avec succès .
                            </div>
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true"></button>

                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ result }}
                            </div>
                        {% endif %}
                        {% if error is defined and error %}
                            <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true"></button>
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                                {{ error | raw }}.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if form is defined %}
                    {{ form_start(form, { 'method': 'POST','attr': { 'role':'form'} }) }}

                    <div class="col-sm-6">
                        <div class="form-body">
                            <div class="row">
                                {% if form.name is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback" id="field-name">
                                            {{ form_label(form.name) }}
                                            <div class="input-icon">
                                                <i class="fa fa-user"></i>
                                                {{ form_widget(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if form.firstName is defined %}

                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback" id="field-firstName">
                                            {{ form_label(form.firstName) }}
                                            <div class="input-icon">
                                                <i class="fa fa-user"></i>
                                                {{ form_widget(form.firstName) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}


                                {% if form.email is defined %}
                                    <div class="col-sm-12">
                                        {{ form_label(form.email) }}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback" id="field-email">
                                            <div class="input-icon">
                                                <i class="fa fa-envelope-o"></i>
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if form.at is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-icon">
                                                <i class="fa fa-at"></i>
                                                {{ form_widget(form.at) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if form.login is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.login) }}
                                            <div class="input-icon">
                                                <i class="fa fa-user"></i>
                                                {{ form_widget(form.login) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}  
                                {% if form.licence is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.licence) }}
                                            {#<div class="input-icon">#}
                                                {#<i class="fa fa-certificate"></i>#}
                                                {{ form_widget(form.licence) }}
                                            {#</div>#}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if form.service is defined %}

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.service) }}
                                            {{ form_widget(form.service, {'attr': {'class': 'bs-select form-control service'}}) }}
                                        </div>
                                    </div>
                                {% endif %}


                                {% if form.group is defined  and groups is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            <label class="control-label">Groupes</label>

                                            <select class="bs-select form-control" id="select-group" multiple>
                                                {% for  key, tab in groups %}
                                                    {% for  group in tab %}
                                                        {% if group|length >1 %}
                                                            {#{% if  keyUser != "count" or keyUser =="0" %}#}
                                                            {% set titre =ad_active_directory.getData(group,"cn") %}
                                                            {% set dn =ad_active_directory.getData(group,"distinguishedname") %}
                                                            {% set dnGroup = dn |split(','~ad_tree) %}

                                                            <option value="{{ attribute(dnGroup,0) }}">{{ titre }}</option>
                                                        {% endif %}

                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {{ form_widget(form.group) }}
                                {% endif %}



                                {% if form.password is defined %}
                                    <div class="col-sm-12">
                                        <div class="form-group has-feedback" id="field-password">
                                            {{ form_label(form.password) }}
                                            <div class="input-icon">
                                                <i class="fa fa-unlock-alt form-control-feedback"></i>
                                                {{ form_widget(form.password) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group has-feedback" id="field-confirm-password">
                                            <label for="confirm-password" class="control-label">Confirmation mot de
                                                passe</label>

                                            <div class="input-icon">
                                                <i class="fa fa-unlock-alt form-control-feedback"></i>
                                                <input type="password" placeholder="Confirmation mot de passe"
                                                       class="form-control confirm-password"
                                                       name="confirm-password" autocomplete="off" required>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <!-- END FORM-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-body">
                            <div class="row">
                                {% if form.title is defined %}

                                    <div class="col-sm-12">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.title) }}
                                            <div class="input-icon">
                                                <i class="fa fa-graduation-cap"></i>
                                                {{ form_widget(form.title) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if form.description is defined %}

                                    <div class="col-sm-12">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.description) }}

                                            <div class="input-icon">
                                                <i class="fa fa-list-alt"></i>
                                                {{ form_widget(form.description) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                                {% if form.address is defined %}
                                    <div class="col-sm-9">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.address) }}
                                            <div class="input-icon">
                                                <i class="fa fa-building-o"></i>
                                                {{ form_widget(form.address) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if form.postalCode is defined %}
                                    <div class="col-sm-3">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.postalCode) }}
                                            <div class="input-icon">
                                                <i class="fa fa-location-arrow"></i>
                                                {{ form_widget(form.postalCode) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if form.city is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.city) }}
                                            <div class="input-icon">
                                                <i class="fa fa-home"></i>
                                                {{ form_widget(form.city) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if form.country is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.country) }}
                                            <div class="input-icon">
                                                <i class="fa fa-globe"></i>
                                                {{ form_widget(form.country) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if form.phone is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.phone) }}

                                            <div class="input-icon">
                                                <i class="fa fa-phone"></i>
                                                {{ form_widget(form.phone) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if form.mobile is defined %}
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.mobile) }}

                                            <div class="input-icon">
                                                <i class="fa fa-mobile"></i>
                                                {{ form_widget(form.mobile) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}


                            </div>

                        </div>
                        <!-- END FORM-->
                    </div>
                    <div class="col-sm-12">
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-3 col-offset-sm-3">
                                    <button type="submit" class="btn green btn-block add-user">Envoyer</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn default btn-block">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}

                {% endif %}

            </div>

        </div>
    </div>

   
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        "bundles/ad/themes/global/plugins/bootstrap-select/js/bootstrap-select.min.js"
        "bundles/ad/themes/pages/scripts/components-bootstrap-select.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $(document).ready(function () {
                $('#select-group').change(function () {
                    var dnSelect = "";
                    $.each($(this).val(), function (i, group) {
                        console.log(group);
                        dnSelect += "#DnGroup:" + group;
                    });
                    $("#user_group").val(dnSelect);
                });
            });
        </script>    {% endblock %}


