{% extends "ADBundle::main.html.twig" %}

  {% block stylesheets %}
      {{ parent() }}
      {% stylesheets
      'https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css'
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}"/>
      {% endstylesheets %}
  {% endblock %}
{% block title %}
    Ordinateurs - {{ parent() }}
{% endblock %}

{% block ad_body %}
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard') }}"><i class="fa fa-home fa-fw"></i></a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Ordinateurs</span>
                <i class="fa fa-circle"></i>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->

    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title"> Ordinateurs</h3>
    <!-- END PAGE TITLE-->
    {#{{ dump(computers) }}#}

    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-desktop fa-fw font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Listes des Ordinateurs</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="Réduire" title="Réduire"> </a>
                        <a href="javascript:;" class="reload" data-original-title="Recharger" title="Recharger"> </a>
                        <a href="" class="fullscreen" data-original-title="Plein écran" title="Plein écran"> </a>
                        <a href="javascript:;" class="remove" data-original-title="Fermer" title="Fermer"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    {% if computers is defined %}
                        <div class="panel-group accordion" id="accordion3">

                            {% for key, computer in computers %}
                                {% if  key != "count" or key =="0" %}


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle accordion-toggle-styled collapsed"
                                                   data-toggle="collapse" data-parent="#accordion3"
                                                   href="#control-{{ key }}">
                                                    <i class="fa fa-desktop fa-fw"></i>
                                                    {{ ad_active_directory.getData(computer,"cn") }}
                                                    ( {{ ad_active_directory.getData(computer,"operatingsystem") }})
                                                </a>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="control-{{ key }}" class="panel-collapse collapse">
                                            <div class="row">
                                                <div class="col-sm-12" id="computers-table">
                                                    {#<div class="panel-body">#}
                                                    <table class="table table-responsive">
                                                        <tr>
                                                            <td class="col-sm-3"><i class="fa fa-laptop fa-fw"></i> <b>Nom
                                                                    PC</b></td>
                                                            <td>
                                                                {{ ad_active_directory.getData(computer,"cn") }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="col-sm-3"><i class="fa fa-cog fa-fw"></i>
                                                                <b>OS</b>
                                                            </td>
                                                            <td>
                                                                {{ ad_active_directory.getData(computer,"operatingsystem") }}

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="col-sm-3"><i class="fa fa-download fa-fw"></i>
                                                                <b>Version</b>
                                                            </td>
                                                            <td>
                                                                {{ ad_active_directory.getData(computer,"operatingsystemversion") }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="col-sm-3"><i class="fa fa-cloud fa-fw"></i>
                                                                <b>DNS Host Name</b></td>
                                                            <td>
                                                                {{ ad_active_directory.getData(computer,"dnshostname") }}
                                                            </td>
                                                        </tr>
                                                        {% set ridsetreferences=ad_active_directory.getData(computer,"ridsetreferences") %}
                                                        {% if ridsetreferences %}
                                                            {% set ridRefs =ad_active_directory.getByDn(ridsetreferences) %}
                                                            <tr>
                                                                <td class="col-sm-3"><i class="fa fa-cube fa-fw"></i>
                                                                    <b>Rid set</b></td>
                                                                {% for  keyRid,ridRef in ridRefs %}
                                                                    {% if  keyRid != "count" or keyRid =="0" %}
                                                                        <td>
                                                                            {{ ad_active_directory.getData(ridRef,"cn") }}
                                                                        </td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </tr>
                                                        {% endif %}

                                                        {% set arrayGroups=ad_active_directory.getArray(computer,"memberof") %}
                                                        {% if arrayGroups %}
                                                            <tr>
                                                                <td class="col-sm-3"><i class="fa fa-users fa-fw"></i>
                                                                    <b>Groupes</b></td>
                                                                <td>

                                                                    <ul class="list-unstyled">
                                                                        {% for  keyUser, groupDn in arrayGroups %}
                                                                            {% if  keyUser != "count" or keyUser =="0" %}
                                                                                {% set group =ad_active_directory.getByDn(groupDn) %}


                                                                                <li>
                                                                                    {{ ad_active_directory.getOneData(group,"cn") }}
                                                                                </li>
                                                                            {% endif %}

                                                                        {% endfor %}

                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                      
                                                        {% set serverreferencebl=ad_active_directory.getData(computer,"serverreferencebl") %}
                                                        {% if serverreferencebl %}
                                                            {% set servers =ad_active_directory.getByDn(serverreferencebl) %}
                                                            <tr>
                                                                <td class="col-sm-3"><i class="fa fa-server fa-fw"></i>
                                                                    <b>Serveur réf</b></td>
                                                                <td>

                                                                    <ul class="list-unstyled">
                                                                        {% for  keyserver, server in servers %}
                                                                            {% if  keyserver != "count" or keyserver =="0" %}
                                                                                <li>
                                                                                    {{ ad_active_directory.getData(server,"cn") }}
                                                                                    {{ ad_active_directory.getData(server,"dnshostname") }}
                                                                                </li>
                                                                            {% endif %}

                                                                        {% endfor %}

                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        {% endif %}


                                                        {% set serviceprincipalname=  ad_active_directory.getArray(computer,"serviceprincipalname") %}
                                                        {% if serviceprincipalname %}
                                                            <tr>
                                                                <td class="col-sm-3"><i class="fa fa-cogs fa-fw"></i>
                                                                    <b>Service principal Name</b></td>
                                                                <td>
                                                                    <ul class="list-unstyled">
                                                                        {% for  keyservice, service in serviceprincipalname %}
                                                                            {% if  keyservice != "count" or keyservice =="0" %}
                                                                                <li>
                                                                                    {{ service }}
                                                                                </li>
                                                                            {% endif %}

                                                                        {% endfor %}

                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        {% endif %}

                                                    </table>

                                                    <ul class="list-unstyled">
                                                        <li></li>
                                                    </ul>
                                                    {#<p>#}
                                                    {#<a class="btn blue" href="ui_tabs_accordions_navs.html#collapse_3_2"#}
                                                    {#target="_blank"> Activate this section via URL </a>#}
                                                    {#</p>#}
                                                </div>
                                            </div>
                                        </div>
                                        {#</div>#}
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>

                        {#<table class="table table-striped table-hover table-header-fixed order-column"#}
                        {#id="table-computers" cellspacing="0" width="100%"#}
                        {#data-line="25">#}
                        {#<thead>#}
                        {#<tr>#}
                        {#&#123;&#35;<th>#</th>&#35;&#125;#}
                        {#<th>Nom Pc</th>#}
                        {#<th>OS</th>#}
                        {#<th>DNS Host Name</th>#}
                        {#<th>Groupes</th>#}
                        {#&#123;&#35;  <th>serverreferencebl</th>#}
                        {#<th>ridsetreferences</th>#}
                        {#<th>distinguishedname</th>#}
                        {#<th>distinguishedname</th>&#35;&#125;#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                        {#{% for key, computer in computers %}#}
                        {#{% if  key != "count" or key =="0" %}#}
                        {#<tr id="line-{{ key }}">#}
                        {#&#123;&#35;<td>{{ key }}</td>&#35;&#125;#}
                        {#<td>#}
                        {#<i class="fa fa-laptop fa-fw"></i> {{ ad_active_directory.getData(computer,"cn") }}#}
                        {#</td>#}
                        {#<td>#}
                        {#<i class="fa fa-desktop fa-fw"></i> {{ ad_active_directory.getData(computer,"operatingsystem") }}#}
                        {#</td>#}
                        {#<td>#}
                        {#<i class="fa fa-globe fa-fw"></i> {{ ad_active_directory.getData(computer,"dnshostname") }}#}
                        {#</td>#}
                        {#<td>#}
                        {#{% set arrayGroups=ad_active_directory.getArray(computer,"memberof") %}#}
                        {#{% if arrayGroups %}#}
                        {#<ul class="list-unstyled">#}
                        {#{% for  keyUser, groupDn in arrayGroups %}#}
                        {#{% if  keyUser != "count" or keyUser =="0" %}#}
                        {#{% set group =ad_active_directory.getByDn(groupDn) %}#}
                        {#<li>#}
                        {#<i class="fa fa-users fa-fw"></i> {{ ad_active_directory.getOneData(group,"cn") }}#}
                        {#</li>#}
                        {#{% endif %}#}

                        {#{% endfor %}#}

                        {#</ul>#}
                        {#{% endif %}#}
                        {#</td>#}
                        {#</tr>#}
                        {#{% endif %}#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                        {#</table>#}
                    {% else %}
                        Aucun ordi trouvé.
                    {% endif %}
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        "bundles/ad/themes/global/plugins/datatables/datatables.min.js"
        "assets/js/database-api.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


    {% endblock %}


