{% extends "ADBundle::main.html.twig" %}

  {% block stylesheets %}
      {{ parent() }}
      {% stylesheets
      'https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css'
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}"/>
      {% endstylesheets %}
  {% endblock %}
{% block title %}
    Dashboard - {{ parent() }}
{% endblock %}

{% block ad_body %}
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard') }}"><i class="fa fa-home fa-fw"></i></a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Liste utilisateurs</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                {% if ou is defined %}
                    <span> {{ ou }} </span>
                {% else %}
                    <span>Tout </span>
                {% endif %}
                </span>

            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->

    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title"> Liste des utilisateurs</h3>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->

    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <ul class="nav nav-tabs">
                        <li {% if ou is not defined %} class="active" {% endif %}>
                            <a href="{{ path('list_users') }}"> Tout </a>
                        </li>
                        <li {% if ou is defined %} {% if ou == "Issy-Les-Moulineaux" %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('users_by_ou',{'ou': 'Issy-Les-Moulineaux'}) }}"> Issy-Les-Moulineaux </a>
                        </li>
                        <li {% if ou is defined %} {% if ou == "Luxembourg" %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('users_by_ou',{'ou': 'Luxembourg'}) }}"> Luxembourg </a>
                        </li>
                        <li {% if ou is defined %} {% if ou == "Saint-mande" %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('users_by_ou',{'ou': 'Saint-mande'}) }}"> Saint-Mandé </a>
                        </li>
                        <li {% if ou is defined %} {% if ou == "Bloqués" %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('users_filter',{'filter': 'locked'}) }}"> Bloqués </a>
                        </li>
                        <li {% if ou is defined %} {% if ou == "Désactivés" %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('users_filter',{'filter': 'disabled'}) }}"> Désactivés </a>
                        </li>
                        <li {% if ou is defined %} {% if ou == "Expirés" %} class="active" {% endif %}{% endif %}>
                                <a href="{{ path('users_filter',{'filter': 'expires'}) }}"> Expirés </a>
                        </li>
                    </ul>

                    {% if users is defined %}
                        {#{{ dump(users) }}#}
                        <table class="table table-striped table-hover table-header-fixed order-column" id="table-users"
                               data-line="25" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                {#<th class="col-md-2">#</th>#}
                                <th class="col-md-2">Login</th>
                                <th class="col-md-2">Nom</th>
                                <th class="col-md-4">Email</th>
                                <th class="col-md-4">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, user in users %}
                                {% set userprincipalname =ad_active_directory.getData(user,"userprincipalname") %}
                                {% if  ( userprincipalname is not null and  userprincipalname != ad_user) %}
                                    <tr id="line-{{ key }}">
                                        {#<td class="col-md-2">{{ key }}</td>#}
                                        <td class="col-md-2">{{ ad_active_directory.getData(user,"samaccountname") }}</td>
                                        <td class="col-md-3">{{ ad_active_directory.getData(user,"displayname") }}</td>
                                        <td class="col-md-4">{{ userprincipalname }}</td>

                                        <td class="col-md-3">
                                            {% set login=ad_active_directory.getData(user,"userprincipalname") %}
                                            {% set dn=ad_active_directory.getData(user,"distinguishedname") %}
                                            {#{{ path('get_user',{'login':login }) }}#}
                                            <a href="" data-toggle="modal" data-target="#view-user"
                                               data-user="{{ ad_active_directory.base64Encode(dn) }}"
                                               class="btn btn-xs btn-outline  btn-circle btn-user-info dark"><i
                                                        class="fa fa-eye fa-fw"></i> Voir</a>
                                            <a href="{{ path('edit_user',{'person':ad_active_directory.base64Encode(dn) }) }}"
                                               class="btn btn-xs btn-outline btn-circle  blue"><i
                                                        class="fa fa-edit fa-fw"></i> Edit</a>
                                            {% if ad_active_directory.getData(user,"samaccountname") != "Administrator" %}
                                                <a href=""
                                                   class="btn btn-xs btn-outline btn-circle red btn-remove"
                                                   data-action="remove-user"
                                                   id="{{ ad_active_directory.getData(user,"cn") }}"
                                                   data-tree="{{ dn }}"
                                                   data-line="line-{{ key }}"><i
                                                            class="fa fa-trash-o fa-fw"></i>Supp</a>
                                            {% endif %}

                                        </td>

                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts

        "bundles/ad/themes/global/plugins/datatables/datatables.min.js"
        "assets/js/database-api.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


    {% endblock %}


