{% extends "ADBundle::layout.html.twig" %}


{% block title %}
    Dashboard - {{ parent() }}
{% endblock %}

{% block ad_body %}

    <div id="wrapper">
        <!-- Navigation -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Ajout groupe</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {#{{ dump(users) }}#}
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-warning hide" id="field-message-error" role="alert">
                        {#<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <span class="message-error"></span>
                    </div>

                    {% if result is defined %}
                        {% if result == "success" %}
                            <div class="alert alert-success" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Le groupe a été crée .
                            </div>
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ result }}
                            </div>
                        {% endif %}


                        {% if error is defined and error %}
                            <div class="alert alert-warning" role="alert" style="margin-top: 30px;">
                                {{ error | raw }}.
                            </div>
                        {% endif %}

                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-fw fa-plus fa-fw"></i> Ajout groupe
                            <div class="pull-right">
                                <a href="{{ path('list_users') }}" class="btn btn-success btn-xs">
                                    <i class="fa fa-fw fa-users fa-fw"></i>Liste groupes</a>
                            </div>

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {% if form is defined %}
                            <div class="row">
                                {{ form_start(form, { 'method': 'POST','attr': { 'role':'form'} }) }}
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {% if form.name is defined %}
                                                <div class="form-group has-feedback" id="field-name">
                                                    {{ form_label(form.name) }}
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user fa-fw"></i>
                                                        </div>
                                                        {{ form_widget(form.name) }}

                                                    </div> <span class="glyphicon form-control-feedback"
                                                                 aria-hidden="true"></span>
                                                </div>


                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6">
                                            {% if form.firstName is defined %}
                                                <div class="form-group has-feedback" id="field-firstName">
                                                    {{ form_label(form.firstName) }}
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-user fa-fw"></i>
                                                        </div>
                                                        {{ form_widget(form.firstName) }}
                                                    </div>
                                                        <span class="glyphicon form-control-feedback"
                                                              aria-hidden="true"></span>

                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if form.service is defined %}
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.service) }}
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-fw fa-sitemap"></i></div>
                                                {{ form_widget(form.service) }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if form.login is defined %}
                                        <div class="form-group has-feedback">
                                            {{ form_label(form.login) }}

                                            <div class="input-group input-group">
                                                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i>
                                                </div>
                                                {{ form_widget(form.login) }}
                                            </div>
                                        </div>

                                    {% endif %}
                                    {% if form.password is defined %}
                                        <div class="form-group has-feedback" id="field-password">
                                            {{ form_label(form.password) }}
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i>
                                                </span>
                                                {{ form_widget(form.password) }}
                                            </div>
                                            <span class="glyphicon form-control-feedback"
                                                  aria-hidden="true"></span>
                                        </div>
                                        <div class="form-group has-feedback" id="field-confirm-password">
                                            <label for="confirm-password" class="control-label">
                                                Confirmation Mot de passe</label>

                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-fw fa-unlock-alt"></i>
                                                </div>
                                                <input type="password" placeholder="Confirmation mot de passe"
                                                       class="form-control confirm-password"
                                                       name="confirm-password" autocomplete="off">
                                            </div>
                                            <span class="glyphicon form-control-feedback"
                                                  aria-hidden="true"></span>
                                        </div>


                                    {% endif %}


                                </div>
                                <div class="col-lg-6">

                                    <div class="row">
                                        {% if form.email is defined %}
                                            <div class="col-lg-12">
                                                {{ form_label(form.email) }}
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group has-feedback" id="field-email">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-fw fa-envelope"></i>
                                                        </div>
                                                        {{ form_widget(form.email) }}

                                                    </div>
                                                    <span class="glyphicon form-control-feedback"
                                                          aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if form.at is defined %}
                                            <div class="col-lg-6">
                                                <div class="form-group has-feedback">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">@</div>
                                                        {{ form_widget(form.at) }}
                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}

                                        <div class="col-lg-12">

                                            {% if form.address is defined %}
                                                <div class="form-group has-feedback">
                                                    {{ form_label(form.address) }}
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-fw fa-location-arrow"></i>
                                                        </div>
                                                        {{ form_widget(form.address) }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-lg-4">

                                            {% if form.postalCode is defined %}
                                                <div class="form-group has-feedback">
                                                    {{ form_label(form.postalCode) }}
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="glyphicon glyphicon-globe"></i>
                                                        </div>
                                                        {{ form_widget(form.postalCode) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-8">
                                            {% if form.city is defined %}
                                                <div class="form-group has-feedback">
                                                    {{ form_label(form.city) }}
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-fw fa-home"></i>
                                                        </div>
                                                        {{ form_widget(form.city) }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>

                                        <div class="col-lg-12">

                                            {% if form.phone is defined %}
                                                <div class="form-group has-feedback">
                                                    {{ form_label(form.phone) }}

                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-fw fa-phone"></i>
                                                        </div>
                                                        {{ form_widget(form.phone) }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if form.description is defined %}
                                                <div class="form-group has-feedback">
                                                    {{ form_label(form.description) }}
                                                    {{ form_widget(form.description) }}

                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>


                                </div>

                                <div class="col-sm-3">
                                    <button type="submit" href="" class="btn btn-sm btn-success btn-block add-user">
                                        Enregistrer
                                    </button>

                                </div>
                                {{ form_end(form) }}

                                {% endif %}
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
    </div>
    <!-- /#wrapper -->
{% endblock %}


