{% extends "ADBundle::layout.html.twig" %}


{% block title %}
    Dashboard - {{ parent() }}
{% endblock %}

{% block ad_body %}

    <div id="wrapper">
        <!-- Navigation -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Dashboard</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {{ dump(groups) }}

            <div class="row">
                <div class="col-lg-12">
                    {% if result is defined and result %}
                        <div class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            L'utulisateur a été ajouté avec succes .
                        </div>
                    {% endif %}

                    <div class="alert alert-success hide response-ajax">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <span class="text-response-ajax"></span>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-users fa-fw"></i> Liste Utlisateurs
                            <div class="pull-right">
                                {#<a href="{{ path('add_user') }}" class="btn btn-success btn-xs"><i#}
                                {#class="fa fa-user fa-fw"></i>Ajouter un utilisateur</a>#}


                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        Afficher
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="{{ path('list_users') }}">Tout</a></li>
                                        <li><a href="{{ path('users_by_ou',{'ou': 'Issy-Les-Moulineaux'}) }}">Issy Les
                                                Moulineaux</a></li>
                                        <li><a href="{{ path('users_by_ou',{'ou': 'Luxembourg'}) }}">Luxembourg</a></li>
                                        <li><a href="{{ path('users_by_ou',{'ou': 'Saint-mande'}) }}">Saint Mande</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('users_by_ou',{'ou': 'Compteutilisateur'}) }}">compte
                                                utilsiateur</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>

                        </div>
                        <!-- /.panel-heading -->
                        {% if users is defined %}
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Login</th>
                                            <th>Nom</th>
                                            <th>Email</th>
                                            <th>actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {#{% for key, user in users %}#}
                                        {% for key, user in users %}
                                            {% if  key != "count" or key =="0" %}
                                                <tr id="line-{{ key }}">
                                                    <td>{{ key }}</td>
                                                    <td>{{ ad_active_directory.getData(user,"samaccountname") }}</td>
                                                    <td>{{ ad_active_directory.getData(user,"displayname") }}</td>
                                                    <td>{{ ad_active_directory.getData(user,"mail") }}</td>

                                                    <td>
                                                        {% set login=ad_active_directory.getData(user,"userprincipalname") %}
                                                        {% set dn=ad_active_directory.getData(user,"distinguishedname") %}
                                                        {#{{ path('get_user',{'login':login }) }}#}
                                                        <a href="" data-toggle="modal" data-target="#view-user"
                                                           data-user="{{ ad_active_directory.base64Encode(dn) }}"
                                                           class="btn btn-xs btn-info btn-user-info"><i
                                                                    class="fa fa-user fa-fw"></i></a>
                                                        <a href="{{ path('edit_user',{'person':ad_active_directory.base64Encode(dn) }) }}"
                                                           class="btn btn-xs btn-primary"><i
                                                                    class="fa fa-edit fa-fw"></i></a>
                                                        {% if ad_active_directory.getData(user,"samaccountname") != "Administrator" %}
                                                            <a href="{{ path('remove_user',{'person':ad_active_directory.getData(user,"cn") }) }}"
                                                               class="btn btn-xs btn-danger btn-remove-user"
                                                               id="{{ ad_active_directory.getData(user,"cn") }}"
                                                               data-tree="{{ dn }}"
                                                               data-line="line-{{ key }}"><i
                                                                        class="fa fa-remove fa-fw"></i></a>
                                                        {% endif %}

                                                    </td>

                                                </tr>
                                            {% endif %}

                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    {#{{ dump(users) }}#}

                                </div>

                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        {% else %}
                            Pas d'utilisateur trouvé.
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Suppression de l'utilisateur (<span id="username"></span>)</h4>
                </div>
                <div class="modal-body">
                    <p>Vous voulez vraiment supprimer cet utilisateur !!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger ok-delete-user" data-dismiss="modal">Oui</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                </div>
            </div>

        </div>
    </div>


    <div id="view-user" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal content-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""></i>Nom/prenom</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user fa-fw"></i>
                                    </div>
                                    <input type="text" id="fullName" placeholder="Full Name" class="form-control"
                                           disabled>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="">Service</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                                class="fa fa-sitemap fa-fw"></span></span>
                                    <select class="form-control input-sm" id="service" disabled>
                                        <option value="1">Informatique</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">login</label>

                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i>
                                    </div>
                                    <input type="text" placeholder="Login" id="login-user" class="form-control"
                                           disabled>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="">Mail principal</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope fa-fw"></i>
                                    </div>
                                    <input type="text" placeholder="mail@mtvc.com" id="mail" class="form-control"
                                           disabled>

                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6">


                            <div class="form-group">
                                <label for="">Rue/Adresse</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-location-arrow fa-fw"></i>
                                    </div>
                                    <input type="text" id="address" placeholder="16 rue de jeanc jacques rousseau"
                                           class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">Ville/Code Postal</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-home fa-fw"></i>
                                    </div>
                                    <input type="text" id="ville-postalCode" placeholder="Issy les moulineaux 92130"
                                           class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">Phone</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone fa-fw"></i>
                                    </div>
                                    <input type="text" id="phone" placeholder="01 23 45 67 89" class="form-control"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Poste</label>

                                <div class="input-group">
                                    <div class="input-group-addon"><i
                                                class="fa fa-graduation-cap fa-fw"></i>
                                    </div>
                                    <input type="text" id="office" place="Développeur" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


