{% extends "::base.html.twig" %}
  {% block stylesheets %}
      {{ parent() }}
      {% stylesheets
      'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'
      'assets/css/style.css'
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}"/>
      {% endstylesheets %}
  {% endblock %}


{% block body %}

    {% if form is defined %}
        <div class="container">

            <div class="row" id="login">

                <div class="col-md-5 col-md-offset-3 text-center">
                    <img class="logo-42" src="{{ asset("images/1.png") }}" alt="logo"/>
                </div>


                <div class="col-md-5 col-md-offset-3">
                    {% if error is defined and error %}
                        <div class="alert alert-warning" role="alert" style="margin-bottom:15px;">
                            <p>
                                <i class="fa fa-warning"></i>
                                {{ error | raw }}</p>
                        </div>
                    {% endif %}
                    {{ form_start(form, { 'method': 'POST','attr': { 'role':'form'} }) }}
                    {#<fieldset>#}
                    {% if form.login is defined %}
                        {#{{ form_label(form.login) }}#}
                        <div class="input-field">
                            {{ form_widget(form.login) }}
                            <label for="user_session_login"><i class="fa fa-envelope"></i> Email</label>

                        </div>

                    {% endif %}
                    {% if form.password is defined %}

                        <div class="input-field">
                            {{ form_widget(form.password) }}
                            {#{{ form_label(form.password) }}#}
                            <label for="user_session_password"><i class="fa fa-key"></i> Mot de passe</label>

                        </div>
                    {% endif %}

               


                    <div class="checkbox">
                        <label>
                            {#<input name="remember" type="checkbox" value="Remember Me">Se souvenir de moi.#}
                        </label>
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <button id="connexion" type="submit"
                            class="btn btn-sm btn-danger btn-block waves-effect waves-light red darken-3">
                       Connexion
                    </button>
                    {#</fieldset>#}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
